@page
@model ProjectBLOCK5.Pages.Peoples.LoginModel



<form method="post">
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" asp-for="Person.Email" />
        <span asp-validation-for="Person.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" asp-for="Person.Password" />
        <span asp-validation-for="Person.Password" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Login</button>
</form>